.demo-content {
    border: 2px solid orange;
    text-align: center
}

.under-construction {
    position: absolute;
    bottom: 10;
}

.name {
    font-family: 'Pacifico', cursive;
    color: orange;
}

.designation {
    font-family: 'Kalam', cursive;
    color: navy;
}

#main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-1 {
    background-color: gold;
    ;
    height: 600px;
}

#second {
    position: absolute;
    /* top: 230px;
        left: 200px; */
    max-width: 80%;
}

img {
    width: 100%;
}

h2 {
    font-size: 60px;
    font-weight: 200;
}

h4 {
    color: yellow;
    font-size: 50px;
    font-weight: 300;
}

#second {
    box-shadow: 10p 10px black;
}

.card-text {
    /* max-width: 70%; */
    /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Merienda', cursive; */
    font-family: 'Pompiere', cursive;
    font-size: 20px;
}

.potfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    max-width: 30%;
    align-items: center;
    font-family: 'Kalam', cursive;
}

.email {
    font-family: 'Kalam', cursive;
}